@media (min-width: 992px) {
    .accessories-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 1rem; 
    }

    .accessory-item {
        display: contents;
    }

    .acc-headset-txt    { grid-area: 1 / 1; }
    .acc-dualsense-img  { grid-area: 1 / 2; }
    .acc-vr-txt         { grid-area: 1 / 3; }
    .acc-earphones-img  { grid-area: 1 / 4; }

    .acc-headset-img    { grid-area: 2 / 1; }
    .acc-dualsense-txt  { grid-area: 2 / 2; }
    .acc-vr-img         { grid-area: 2 / 3; }
    .acc-earphones-txt  { grid-area: 2 / 4; }
}

@media (max-width: 991.98px) {
    .accessories-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .accessory-item {
        width: calc(50% - 0.75rem);
    }

    .accessory-item div {
        margin-top: 1rem;
    }
}

@media (max-width: 767.98px) {
    .accessory-item {
        width: 100%; 
    }
}